// - Accordion data array
- var accordion_array = [];
- accordion_array.push({header:'Основы языка и как говорить на нём правильно', prop:['Лексическая структура','Типы данных, значения и переменные','Выражения и операторы инструкции']});
- accordion_array.push({header:'Функции', prop:['Инициализация функци', 'Вызов функции', 'Анонимная функция']});
- accordion_array.push({header:'Обработка ошибок и отладка', prop:['Способы вывода ошибок', 'Способы отслеживания ошибок']});
- accordion_array.push({header:'Объекты и массивы', prop:['Что такое объект', 'Что такое массив', 'Ассоциативный и простой массивы', 'Работа с объектами и массивами']});
- accordion_array.push({header:'События', prop:['Что такое события', 'Работа с событиями']});